<form action="javascript:addUser();" id="addUserForm">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter un utilisateur</h1>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <label for="inputNom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="Nom" aria-describedby="nomHelp"/>
        <label for="inputPrenom" class="form-label">Prenom</label>
        <input type="text" class="form-control" id="Prenom" aria-describedby="prenomHelp"/>
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp"/>
         <label for="inputPromo" class="form-label">Promo</label>
        <input type="text" class="form-control" id="Promo" aria-describedby="promoHelp"/>
        <label for="selectStatut" class="form-label">Statut</label>
        <select class="form-select" name="user_statut" id="Statut">
            {% for item in role %}
                {% if user.statut == "super_admin" %}
                    <option value={{item.id_type}}>{{ item.statut | capitalize}}</option>
                {% else %}
                    {% if item.statut != "admin" %}
                        {% if  item.statut != "super_admin" %}
                            <option value={{item.id_type}}>{{ item.statut  | capitalize}}</option>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}
        </select>
        <label for="selectSite" class="form-label mt-2">Site</label>
        <select class="form-select" name="sites" id="Site">
            {% if user.statut == "super_admin" %}
                {% for item in sites %}
                    <option value={{item.id_site}}>{{ item.site | capitalize}}</option>
                {% endfor %}
            {% else %}
                <option value={{userSite.id_type}}>{{ userSite.site  | capitalize}}</option>
            {% endif %}        
        </select>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="addUserForm">submit</button>
    </div>
</form>