<div class="row">
	<div class="group">
		{% for item in demande %}
			<div class="col-3">
				<div class="cards card">
					<div class="cards-info">
						<div><img src="{{item.img_profile}}" class="rounded-circle cards-avatar"></div>
						<div class="cards-title">{{item.prenom}}
							{{item.nom}}</div>
						<div class="cards-subtitle">{{item.nom_materiel}}</div>
						<div class="cards-subtitle">
							Du
							{{item.date_debut|date("d-m-Y")}}<br>
							au
							{{item.date_fin|date("d-m-Y")}}
						</div>
						<div class="cards-subtitle">caution :
							{{item.caution}}
						</div>
					</div>
					<ul class="cards-social">
						<button onclick="updateDemandeGive({{item.id_commande}});" class="check">
							<li class="cards-social__item">
								<i class="fa-solid fa-check"></i>
							</li>
						</button>
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
