<div class="row">
	<div class="group">
		{% for items in demande %}
			<div class="col-3">
				<div class="cards card">
					<div class="cards-info">
						{% set var = 0 %}
						{% for item in items %}
							{% if var == 0 %}
								<div><img class="rounded-circle cards-avatar" src="{{item.img_profile}}"></div>
								<div class="cards-title">{{item.prenom}}
									{{item.nom}}</div>
								{% else %}

							{% endif %}
							{% if var == 0 %}
								<div class="cards-subtitle">
									Du
									{{item.date_debut|date("d-m-Y")}}<br>
									au
									{{item.date_fin|date("d-m-Y")}}
								</div>
								{% else %}
							{% endif %}
							<div class="cards-subtitle pt-1">{{item.nom_materiel}}</div>
							{% set var = 1 %}
						{% endfor %}
					</div>
					{% for item in items %}
						{% set dup = 0 %}
						{% if dup == 0 %}
							<ul class="cards-social">
								<button onclick="refuseDemandeMateriel({{item.id_commande}});" class="x">
									<li class="cards-social__item">
										<i class="fa-solid fa-x"></i>
									</li>
								</button>
								<button onclick="acceptDemandeMateriel({{item.id_commande}});" class="check">
									<li class="cards-social__item">
										<i class="fa-solid fa-check"></i>
									</li>
								</button>
							</ul>
							{% set dup = 1 %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
