<body>
	<p>{{info}}</p>
	{% for item in info %}
		<p>{{item.nom_materiel}}
			bvide</p>
		{# {% set var = 0 %}
												{% if var == 0 %}
													<p>
														{{item.nom}}
														{{item.prenom}}
														<br/>
														A fait une demande.
													</p>
													<br>
													<p>
														Voici le matériel demandé :
														<br/>
														{% set var = 1 %}
													{% endif %}
													.{{item.nom_materiel}}
													{% set var = 0 %}
													{% if var == 0 %}
													</p>
													{% set var = 1 %}
												{% endif %}
												{% set var = 0 %} #}
	{% endfor %}
	{# <p>Bonjour :
							</p>
							<br>
							<p>{{info}}</p> #}
</body>
