{% block listeActive %}
	<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">nom ordinateur</th>
					<th scope="col">desc</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
				<tbody>
					{% for item in type %}
						<tr>
							<th scope="row">{{resultNum}}</th>
							<td>{{item.nom_materiel}}</td>
							<td>{{item.description}}</td>
							<td>
								<input class="checkbox_check form-check-input" type="checkbox" value="{{item.id_materiels}}" id="flexCheckDefault">
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</div>
		</table>
	</div>
{% endblock %}

{% block liste %}
	<div class="tab-pane fade show" role="tabpanel" aria-labelledby="home-tab">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">nom ordinateur</th>
					<th scope="col">desc</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
				<tbody>
					{% for item in type %}
						<tr>
							<th scope="row">{{resultNum}}</th>
							<td>{{item.nom_materiel}}</td>
							<td>{{item.description}}</td>
							<td>
								<input class="checkbox_check form-check-input" type="checkbox" value="{{item.id_materiels}}" id="flexCheckDefault">
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</div>
		</table>
	</div>
{% endblock %}
