<form action="javascript:updateMateriel();">
	<div class="modal-header">
		<h1 class="modal-title fs-5" id="ModifMatLabel">Modifier le matériel</h1>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div>
			<div class="mb-3">
				<input
					type="text"
					class="form-control invisible"
					id="id"
					value={{materiel.id}}
					/>
					<select class="form-select" name="type_Materiel" id="typeMateriel">
						{% for item in typeMateriel %}
							<option value={{item.id_type_materiel}}>{{item.origine_materiel}}</option>	
						
						{% endfor %}
					</select>
					<label for="nom" class="form-label">Nom</label>
					<input
					type="text"
					class="form-control"
					id="Nom"
					value="{{materiel.nom}}"
					/>
					<label for="description" class="form-label">Description</label>
					<input
					type="text"
					class="form-control"
					id="Description"
					value="{{materiel.description}}"
					/>
					<label for="caution" class="form-label">Caution</label>
					<input
					type="number"
					min="0"
					class="form-control"
					id="Caution"
					value="{{materiel.caution}}"
					/>


					
			
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
		<input type="submit" class="btn btn-dark"  value ="Mettre a jour">

	</div>

	
</form>

