<body>
	<div class="row position-relative">
		<div onclick="modalUpdateImageBanniere();" class="col-9 col-md-11 rounded-pill border border-2 border-dark bg-image profileBanner mt-2 ms-4" style="background-image: url({{user.img_banniere}});">
		</div>
		<img onclick="modalUpdateImageProfile();" class="imgProfile img-fluid rounded-circle position-absolute" src="{{user.img_profile}}"/>
	</div>

	<div class="col-xl-6 mt-5 me-1 position-absolute profilePosition">
		<div class="card mb-4">
			<div class="card-body border border-dark rounded">
				<form>
					<div class="row gx-2 mb-3">
						<div class="col-md-6">
							<label class="small mb-1 boldText" for="inputFirstName">Nom:</label>
							<input readonly="readonly" class="form-control" id="inputFirstName" type="text" value="{{user.nom}}">
						</div>
						<div class="col-md-6">
							<label class="small mb-1 boldText" for="inputLastName">Prenom:</label>
							<input readonly="readonly" class="form-control " id="inputLastName" type="text" value={{user.prenom}}>
						</div>
					</div>
					<div class="mb-3">
						<label class="small mb-1 boldText" for="inputEmailAddress">Email:</label>
						<input readonly="readonly" class="form-control" id="inputEmailAddress" type="email" value={{user.email}}>
					</div>
					<div class="row gx-2 mb-3">
						<div class="col-md-6">
							<label class="small mb-1 boldText" for="inputStatut">Statut</label>
							<input readonly="readonly" class="form-control" id="inputStatut" type="text" value={{user.statut}}>
						</div>
						<div class="col-md-6">
							<label class="small mb-1 boldText" for="inputPromo">Promotion</label>
							<input readonly="readonly" class="form-control" id="inputPromo" type="text" value={{user.promo}}>
						</div>
					</div>
					<button onclick="modalUpdateProfile();" type="button" class="btn btn-dark">Modifier</button>
				</form>
			</div>
		</div>
	</div>
	

	<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
</body>
