{% block body %}
	<div>
		<h3>Inventaire Materiel</h3>
		<!-- sqlcount pour la pagination -->
		<bouton onclick="modalAddMateriel();" class="btn btn-primary">add mat
		</bouton>
		<!-- mettre variable qui prend +1 a chaque boucle en twig -->


		<div class="col py-3">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				{% for item in icon %}
					{% if item == icon[0] %}

						<li class="nav-item" onclick="loadMateriel({{item.id_type_materiel}});">
							<a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
								<i class="{{item.icon}}"></i>
								{{item.origine_materiel}}</a>
						</li>
					{% else %}
						<li class="nav-item" onclick="loadMateriel({{item.id_type_materiel}});">
							<a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
								<i class="{{item.icon}}"></i>
								{{item.origine_materiel}}</a>
						</li>
					{% endif %}
				{% endfor %}
				<li class="nav-item" onclick="modalAddTypeMateriel();">
					<a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
						<i class="fa-solid fa-plus"></i>
						add
					</a>
				</li>
			</ul>
			<form action="javascript:deleteMateriel();">
				<div class="tab-content overflow-auto" id="myTabContent">
					{% block listeActive %}{% endblock %}
				</div>
				<button type="submit">
					<i class="fa-solid fa-trash"></i>
					delete</button>
			</form>
		</div>
	</div>

	<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
{% endblock %}
