{% block body %}
<div class="row mt-5">
	<div class="col-11 border border-2 border-dark rounded mx-5">
		<div class="row titreTableau border-bottom border-2 border-dark rounded">
			<div class="col-3 py-3">
				<h3>Inventaire du Materiel</h3>
			</div>
			<div class="col-2">
				<i class="fa-solid fa-computer fa-3x pt-4 icons"></i>
			</div>
			<div class="col-5"></div>
			<div class="col-2 pt-4">
				<bouton onclick="modalAddMateriel();" class="btn border border-white titreTableauBtn">Nouveau Materiel <i class="fa-solid fa-computer"></i> <i class="fa-solid fa-plus"></i>
				</bouton>
			</div>
		</div>
		<div class="col py-3">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				{% for item in icon %}
					{% if item == icon[0] %}

						<li class="nav-item" onclick="loadMateriel('{{item.id_type_materiel}}');">
							<a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
								<i class="{{item.icon}}"></i>
								{{item.origine_materiel}}</a>
						</li>
					{% else %}
						<li class="nav-item" onclick="loadMateriel('{{item.id_type_materiel}}');">
							<a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
								<i class="{{item.icon}}"></i>
								{{item.origine_materiel}}</a>
						</li>
					{% endif %}
				{% endfor %}
				<li class="nav-item" onclick="modalAddTypeMateriel();">
					<a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
						<i class="fa-solid fa-plus"></i>
						add
					</a>
				</li>
			</ul>
			<form action="javascript:deleteMateriel();">
				<div class="tab-content overflow-auto" id="myTabContent">
					{% block listeActive %}{% endblock %}
				</div>
				<button class="btn border border-dark" type="submit">
					Supprimer
					<i class="fa-solid fa-trash"></i>
					</button>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>{% endblock %}
